<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

        <!--Running tests multiple times on the same browser parallel-->
<suite name="Suite" parallel="classes" thread-count="2">
    <test name="chromeTest 1" >
    <parameter name="browser" value="chrome"> </parameter>
    <classes>
        <class name="bnzTestCases.TestCases"/>
    </classes>
    </test>
    <test name="chromeTest 2" >
        <parameter name="browser" value="chrome"> </parameter>
        <classes>
            <class name="bnzTestCases.TestCases"/>
        </classes>
    </test>
</suite>

